.chartBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc((100% / 12) - 2%);
}

.chartBar__inner {
  background-color: var(--color-light);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
}

.chartBar__fill {
  background-color: var(--color-primary);
  width: 100%;
  transition: all 0.3s ease-out;
}

.chartBar__label {
  color: var(--color-light);
  font-size: 0.6em;
  font-weight: 600;
  margin-top: 0.2rem;
  text-align: center;
}
