.expenseDate {
  font-size: 0.8em;
  position: relative;
  width: 100%;

  &:after {
    background-color: var(--color-gray);
    bottom: 3px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  span {
    background-color: var(--color-light-gray);
    display:inline-block;
    padding-right: 0.5rem;
    position: relative;
    z-index: 2;
  }
}

