.btn {
  border: 1px solid;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-light);
}

.btn--secondary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}