.reactExpenses {
  --color-dark: #2D3142;
  --color-gray: #BFC0C0;
  --color-light: #FEFEFE;

  --color-primary: #96031A;
  --color-secondary: #DB504A;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  width: 100vw;
}
