.reactExpenses {
  --color-dark: #2D3142;
  --color-gray: #BFC0C0;
  --color-light-gray: #F3F4F4;
  --color-light: #FEFEFE;

  --color-primary: #96031A;
  --color-secondary: #DB504A;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  width: 100%;
}
