.appSection {
  background-color: var(--color-light-gray);
  border-top: 2px solid var(--color-dark);
  padding: 1.5rem 2rem;

  @media screen and (min-width: 980px) {
    padding: 1.5rem 30vw;
  }
}

.appSection--extended {
  flex-grow: 1;
}